@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allerta+Stencil&family=Big+Shoulders+Stencil+Display:wght@100;200;300;400;500;600;700;800;900&family=Bungee+Inline&family=Bungee+Outline&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=Sirin+Stencil&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  font-family: 'Nunito', 'Big Shoulders Stencil Display', 'Alfa Slab One', sans-serif;
}

body
{
  background-color: transparent;
}

.hero-main
{
  width: 100vw;
  height: 100vh;
  background: url(/Untitled/HeroSectionHero.svg) no-repeat center;
  font-weight: 500;
  font-size: 3vw;
  font-family: 'Poppins';
}

/* Navbar starts */

.navbar
{
  padding: 1vw 2vw;
  background-color: #F7C913;
  width: 100vw;
  height: 10vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo
{
  font-size: 2vw;
  font-family: 'Inter';
  font-weight: 600;
  width: max-content;
  transition: all 0.5s ease-in-out;
}

.logo:hover
{
  font-size: 2.5vw;
  color: #fff;
  border-color: #000;
}

.logo:hover::after
{
  content: ' explore the unexplored';
  font-size: 1.5vw;
}

.menu
{
  width: 56vw;
  height: 5vw;
  font-size: 1.2vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.travelinfo, .weather, .pppcalci
{
  transition: all 0.2s ease-in-out;
}

.travelinfo:hover, .weather:hover, .pppcalci:hover
{
  text-decoration: underline;
  font-size: 1.4vw;
  text-decoration-color: black;
}

.signin
{
  width: 8vw;
  height: 3vw;
  border-radius: 3vw;
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.signin:hover
{
  scale: 1.1;
  background-color: #3F3F3F;
}

.language-drop
{
  position: relative;
  display: inline-block;
}

.language-drop button
{
  width: 6vw;
  height: 3vw;
  background-color: #000;
  color: #fff;
  border-radius: 3vw;
}

.lan-dropdown
{
  position: absolute;
  font-size: 1vw;
  top: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 0.5vw;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  transition: all 0.5s ease-in-out;
}

.lan-dropdown li
{
  padding: 1vw;
}

.language-drop:hover .lan-dropdown {
  display: block;
  transition: all 0.5s ease-in-out;
}

/* Navbar Ends */

/* Hero section starts */

.hero-section
{
  margin: 5vw;
  height: max-content;
  width: 48vw; 
}

h1.line1
{
  height: max-content;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: 900;
  font-size: 6vw;
}

h1.line2, h1.line3
{
  height: max-content;
  font-family: 'Alfa Slab One';
  letter-spacing: 0.3vw;
  font-size: 7vw;
}

.visit
{
  margin: 3vw 0;
  height: 3.5vw;
  width: 15vw;
  font-size: 2vw;
  color: #fff;
  font-family: 'Big Shoulders Stencil Display';
  letter-spacing: 0.25vw;
  font-weight: 700;
  background-color: #000;
  border-radius: 3vw;
  transition: all 0.2s ease-in-out;
}

.visit:hover
{
  scale: 1.2;
  background-color: #fff;
  color: #000;
}

/* Hero section Ends */

/* Section 2 starts */

.section2
{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #F7C913, #F2F2CF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text
{
  width: 48vw;
  height: max-content;
  margin: 10vw 5vw;
}

.welcome-text h1
{
  font-size: 6vw;
  font-weight: 700;
}

.welcome-text span
{
  font-size:  6vw;
}

.welcome-text .desc
{
  width: 50vw;
  font-size: 2.5vw;
  color: grey;
  padding: 0 2vw;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.welcome-text .desc:hover
{
  background: #fff;
  border-radius: 1vw;
  color: #ffa940;
}

.call-buttons
{
  margin: 1vw;
  width: 25vw;
  height: 5vw;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.call-buttons .journey,.call-buttons .learn
{
  width: 10vw;
  height: 3vw;
  background: #fff;
  border-radius: 2vw;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.call-buttons .journey:hover,.call-buttons .learn:hover
{
  background: #000;
  font-size: 1.3vw;
  color: #fff;
  border-radius: 1vw;
}

.carousel
{
  width: 45vw;
  height: 80vh;
  margin: 3vw;
  border-radius: 2vw;
  background: url(/portrait-kirti-kalla-JRhvllDBhzs-unsplash.jpg) no-repeat center;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}

.carousel:hover
{
  background: url(/portrait-ravi-sharma-nTTzGneSnz4-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.carousel:active
{
  background: url(/sneha-chatterjee-MBsLiGLwIPs-unsplash.jpg) no-repeat center;
  background-size: cover;
}
/* Section 2 ends */

/* Indian regions start */

.regions
{
  width: 100vw;
  height: 70vh;
  padding: 2vw;
  background: #F2F2CF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.regions h1
{
  width: 100vw;
  height: 8vh;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}

.region-cards
{
  width: 100vw;
  height: 50vw;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rcard
{
  width: 18vw;
  height: 40vh;
  color: #fff;
  border-radius: 1vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.North
{
  background: url(/kabir-van-wegen-vlTihequ9yo-unsplash.jpg) no-repeat bottom;
  background-size: cover;
}

.North:hover
{
  background: url(/portrait-shivam-srivastava-pA2PNv2qvXM-unsplash.jpg) no-repeat center;
  background-size: cover;
  font-size: 3.2vw;
}

.East
{
  background: url(/assam.jpg) no-repeat bottom;
  background-size: cover;
}

.East:hover
{
  background: url(/background2.jpg) no-repeat center;
  background-size: cover;
  font-size: 3.2vw;
}

.West
{
  background: url(/portraitGreenery.jpg) no-repeat bottom;
  background-size: cover;
}

.West:hover
{
  background: url(/gujarat.jpg) no-repeat center;
  background-size: cover;
  font-size: 3.2vw;
}

.South
{
  background: url(/south.jpg) no-repeat bottom;
  background-size: cover;
}

.South:hover
{
  background: url(/kerala.jpg) no-repeat center;
  background-size: cover;
  font-size: 3.2vw;
}

button.more-region
{
  width: 10vw;
  height: 6vw;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.1vw;
  border-radius: 2vw;
  transition: all 0.2s ease-in-out;
}

button.more-region:hover
{
  background: #000;
  font-size: 1.2vw;
  color: #fff;
  border-radius: 1vw;
}
/* Indian regions ends */

/* Festivals start */

.festivals
{
  width: 100vw;
  height: 120vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F2CF;
}

.festivals h1
{
  font-size: 3vw;
  font-weight: 600;
  height: 5vw;
}

.upcoming-content
{
  width: 100vw;
  height: 90vh;
}

.festivals-data, .events-data
{
  margin: 1vw 3vw;
  width: 96vw;
}

.festivals-data h1 , .events-data h1
{
  height: 3vw;
  font-size: 1.8vw;
}

.upcoming-cards
{
  margin: 0.5vw 0;
  width: 95vw;
  height: 35h;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card1
{
  width: 20vw;
  height: 25vw;
  border-radius: 1vw;
  overflow: hidden;
  font-size: 1.1vw;
}

.card1 content
{
  background-color: #ffa940;
  display: none;
  font-size: 0.5vw;
  width: inherit;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card1:hover content
{
  font-size: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  top: 75px;
  position: static;
}

.card1 h1
{
  font-size: 1.9vw;
  text-align: center;
}

.ganpati
{
  background: url(/IMG-20230905-WA0028.jpg) no-repeat center;
  background-size: cover;
}


/* Festivals section ends */


/* WEATHER and SIGNiN PAGE */ /*NEW PAGE*/ /*STARTS*/

/* navbar */
.mainNav
{
  width: 100vw;
  height: 4vw;
  background-color: #F7C913;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
}

.heading{
  font-size:54px;
  font-weight:800;

}
.right{
  display: flex;
  gap: 1vw;
  align-items: center;
}

/* navbar Ends */


/* Trip Page Starts */
.mainTrip{
  background-color: #f9d442;
  height: calc(100vh - 4vw);
  width: 100vw ;
  display: flex;
  gap: 2vw;
  flex-direction: column;
}

.queryWrapper
{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.queryTrip
{
  min-width:40vw;
  height:15vw;
  /* background: #F2F2CF; */

}


.btn
{
  width: max-content;
  background: #000;
  color: #fff;
  padding: .5vw;
  border-radius: 2vw;
}

.placeInput input
{
  width: 50vw;
  height: 2.5vw;
  border-radius: 0.75vw;
  background: none;
  border: 2px solid #000;
}

.tripP
{
  font-size:0.75vw ;
  
}
/* 
input{
  border: none;
  width: ;
} */

.dayInput input
{
  width: 5vw;
  height: 2.5vw;
  border-radius: 0.75vw;
  background: none;
  border: 2px solid #000;
}

.budgetInput>input{
  width: 10vw;
  height: 2.5vw;
  border-radius: 0.75vw;
  background: none;
  border: 2px solid #000;
}

.queryBudget
{
  width: 50vw;
}

.responseTrip
{
  width:65vw ;
 /* background-color: #edb8b8; */
 height: 18vw;
}

.responceWrapper
{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.resText
{
  width: 100%;
  border-radius: 2vw;
  padding: 1vw;
}

/* Trip Page ends */

/* SignIn Page Starts */

.mainSign
{
  display: flex;
}

.contentWrapper
{
  width: 60vw;
  padding: 2vw 5vw;
  font-size: 1.3vw;
}

.contentWrapper h1
{
  color: #000;
}

.contentSign
{
flex-grow:1;
background-color: #f9d442;

}

.formSign
{
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.navSign
{
  width: 50vw;
  display: flex;
  padding: 1vw;
  flex-direction: row-reverse;
  height: 4vw;
}

.imgSign
{
  height: 62vw;
  width: auto;
}

.inputSign
{
  height: 3vw;
  width: 20vw;
  border-radius: 0.75vw;
  border: 2px solid #000;
  background:none;
  padding: 0.5vw;
}

.large
{
  width: 41vw;
}

.btnSign
{
  width:41vw;
  height: 3vw;
  margin: 0.5vw 0 0;
  background-color: #000;
  color: #fff;
  border-radius: 1.5vw; 
  transition: all 0.2s ease-in-out;
}

.btnSign:hover
{
  border-radius: 0.8vw;
  background-color: #fff;
  color: #000;
}

.nameSign
{
  display: flex;
  gap: 1vw;
}

.orSign
{
  padding: 2vw 0;
}


/* WEATHER and SIGNiN PAGE */ /*NEW PAGE*/ /*ENDS*/

/* Misc */
::-webkit-scrollbar
{
  width: 0;
}

.heading{
  font-size: 3vw;
  font-weight: 800;
  color: grey;
}

.footer{
  padding: 1vw 2vw;
}